src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<http:listener-config name="HTTP_Listener_config"
		doc:name="HTTP Listener config"
		doc:id="c31646c6-37f4-4510-95fc-884d466a858d" doc:description="This is our Htp Listener">
		<http:listener-connection host="0.0.0.0"
			port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="dfb8a0ef-f70c-4f06-b173-6cb0162729a7" file="local.properties" />
	<flow name="hello-world-flow"
		doc:id="3e1f430e-3bb6-4eb6-8e53-4f425544f03b">
		<http:listener doc:name="Http Listener"
			doc:id="1d0d395b-bf84-49fa-b280-00c2c02465c5"
			config-ref="HTTP_Listener_config" path="/*" outputMimeType="application/json" allowedMethods="GET">
			<http:response statusCode="201" >
				<http:body ><![CDATA[#[vars.testpayload]]]></http:body>
			</http:response>
		</http:listener>
		<logger level="DEBUG" doc:name="Logger" doc:id="805af434-d17b-4505-a466-5342353711b3" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="d079100f-bd9e-466f-a3bd-d4de005ff45f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"welcome to Mule World, this Hello world api Response"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value='"payload from variable"' doc:name="Set Variable" doc:id="9c6625e0-81ca-4242-8751-0d422a1e528a" variableName="testpayload"/>
	</flow>
</mule>
